.game-container {
    background: black;
    height: 100vh;
    padding-top: 20px;
    color: white;
}

.circle-btn {
    width: 100px;
    height: 100px;
    background: white;
    border-radius: 50%;
    cursor: pointer;
}

.game-container h4 {
    margin-top: 40px;
    text-align: center;
}

.bottom-block {
    width: 200px;
    height: 50px;
    background: darkred;
    position: absolute;
    bottom: 350px;
    left: 50%;
    transform: translateX(-50%);
}