.game-container {
    height: 100vh;
    background: linear-gradient(45deg,
            #6a11cb,
            #b721ff,
            #c471ed,
            #ffc8cb,
            #ff6a88,
            #ff9a9e,
            #ffc3a0,
            #fbc2eb,
            #a1c4fd,
            #3f5efb);
    background-size: 300% 300%;
    animation: bgMove 10s ease infinite;
    padding-top: 20px;
    color: white;
}

@keyframes bgMove {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}


.circle-btn {
    width: 100px;
    height: 100px;
    background: white;
    border-radius: 50%;
    cursor: pointer;
}

.game-container h4 {
    margin-top: 40px;
    text-align: center;
}

.bottom-block {
    width: 150px;
    height: 150px;
    background: darkred;
    position: absolute;
    border-radius: 50%;
    left: 50%;
    transform: translateX(-50%);
}